body{
    background-color: aliceblue;
}
.login{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgb(163, 184, 202);
    padding: 50px;
}
img {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}